<html>
<head>
<title>ChangePassword</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
<script type="text/javascript">
function samepasswd()
{
var passwd1=document.getElementById("password").value
var passwd2=document.getElementById("password_confirm").value
if (passwd1 != passwd2){
    alert("两次输入的密码不一样!")
    alert(passwd1)
    alert(passwd2)
    return false
    }
return true
}
</script>
</head>
<body class="">
{% include "account/toolbar.html" %}
<h1>密码修改</h1>
<form action="/password_change/" method="POST" onsubmit="return samepasswd()"><div style='display:none'><input type='hidden'/></div>
<div>
    <fieldset class="module aligned">
        <div class="form-row">
            <label class="required">当前密码:</label><input id="old_password" type="password" name="old_password" />
        </div>
        <div class="form-row">
            <label class="required">新密码:</label><input id="password" type="password" name="password" />
        </div>
        <div class="form-row">
            <label class="required">新密码确认:</label><input id="password_confirm" type="password" name="password_confirm" />
            <p>请两次输入相同的密码!</p>
        </div>
    </fieldset>
<div >
    <input type="submit" value="修改" />
</div>
</form>
</body>
</html>

