<html lang="en-us">
<head>
<title>软件部内部验证,编号:{{index}}</title>
{% include "jforms/head.html" %}
{% include "jforms/mce_init.html" %}
<link type="text/css" href="/static/jquery/css/ui-lightness/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/static/jquery/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/jquery/js/jquery-ui-1.8.21.custom.min.js"></script>
<style type="text/css">
    ul {margin: 0; padding: 0; width=300px;}
    ul li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
</style>

<script type="text/javascript">
$(document).ready(function(){
  $("#id_judges").click(function(){
   $("div#jj_judges").slideToggle();
    })
});
</script>

</head>
<body class="change-form">
{% include "jforms/toolbar.html" %}
<h1>软件部内部验证,需求表编号:{{index}}</h1>
<form method="POST" action="">
<fieldset class="module aligned">
        <div class="form-row">
            <label>需求表序列号:</label> {{index}} 
            <a href="/viewrequirement/{{index}}/">查看需求详情</a>
        </div>
        <div class="form-row">
            <label>{{devjudge.bg.label_tag}}</label>{{devjudge.bg}}
            <label></label>{{devjudge.errors.bg}}
        </div>
        <div class="form-row">
            <label>{{devjudge.testinside.label_tag}}</label>{{devjudge.testinside}}
            <label></label>{{devjudge.errors.testinside}}
        </div>
        <div class="form-row">
            <label>{{devjudge.judgement.label_tag}}</label>{{devjudge.judgement}}
            <label></label>{{devjudge.errors.judgement}}
        </div>
        <div class="form-row">
            <label>{{devjudge.result.label_tag}}</label>{{devjudge.result}}
        </div>
        <div class="form-row">
            <label>{{devjudge.judges.label_tag}}</label>
            <a href=#jj_judges" id="id_judges">选择</a> <p>
             <div id="jj_judges">
                <label></label>
                <table>
                    {% for g in groups%}
                    <tr>
                        <td>{{g.name}}:</td>
                        <td>
                        {%for u in g.user_set.all%}
                             {%if u in dj.judges.all%}
                                    <input type="checkbox" checked="checked" name="judges" value="{{u.id}}" /> {{u.first_name}} 
                             {%else%}
                                    <input type="checkbox" name="judges" value="{{u.id}}" /> {{u.first_name}}
                             {%endif%}
                        {%endfor%}
                        </td>
                    </tr>
                    {%endfor%}
                </table>
             </div>
            <script>
             $("div#jj_judges").slideToggle();
            </script>
        </div>
        <div class="form-row">
           <label></label> <input type="submit" value="提交" />
           <input type="checkbox" name="stat" value="prelocked" /><font color="red">进入下一流程</font>
        </div>
</fieldset>
</form>
</body>
</html>
