<html lang="en-us">
<head>
<title>软件需求表与评估表({{index}})</title>
{% include "jforms/head.html" %}
{% include "jforms/mce_init.html" %}

<link type="text/css" href="/static/jquery/css/ui-lightness/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/static/jquery/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/jquery/js/jquery-ui-1.8.21.custom.min.js"></script>
<style type="text/css">
    ul {margin: 0; padding: 0; width=300px;}
    ul li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
</style>

<script type="text/javascript">
$(document).ready(function(){
  $("#id_assessor").click(function(){
   $("div#jj_assessor").slideToggle();
    })
});
</script>

</head>
<body class="change-form">
{% include "jforms/toolbar.html" %}
<fieldset class="module aligned">
<h1>风险评估(需求编号:{{index}})</h1>
<br>
<form method="post" action="">
<div class="form-row">
{{assessment.assessment.label_tag}}
{{assessment.assessment}}
{{assessment.errors.assessment}}
</div>
<div class="form-row">
<label></label>
{% if not req.only_predev %}
    {{assessment.need_predev}}{{assessment.need_predev.label}}
    {{assessment.need_test}}{{assessment.need_test.label}}
{% endif %}
{% if not req.need_test and req.only_predev %}
    {{assessment.need_test}}{{assessment.need_test.label}}
{% endif %}
</div>
<div class="form-row">
{{assessment.assessor.label_tag}}
 <a href=#jj_assessor" id="id_assessor">选择</a> <p>
 <div id="jj_assessor">
    <label></label>
    <table>
        {% for g in groups%}
        {%if g.name == "软件部"%}
        <tr>
            <td>{{g.name}}:</td>
            <td>
            {%for u in g.user_set.all%}
            {%if u.is_active%}
                 {%if u in ass.assessor.all%}
                        <input type="checkbox" checked="checked" name="assessor" value="{{u.id}}" /> {{u.first_name}} 
                 {%else%}
                        <input type="checkbox" name="assessor" value="{{u.id}}" /> {{u.first_name}} 
                 {%endif%}
            {%endif%}
            {%endfor%}
            </td>
        </tr>
        {%endif%}
        {%endfor%}
    </table>
 </div>
</div>
{{assessment.errors.assessor}}
</div>

<script>
 $("div#jj_assessor").slideToggle();
</script>

<div class="form-row">
   <label></label> <input type="submit" value="保存" />
   <input type="checkbox" name="stat" value="locked" /><font color="red">进入下一流程</font>
</div>
</form>
</fieldset>
</body>
