<html lang="en-us">
<meta http-equiv="Refresh" content="3;URL=/myhome/" />
<head>
<title>message</title>
<meta http-equiv="content-type" contentx="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
</head>
<body class="change-form">
{% include "jforms/toolbar.html" %}
<div>
{{message}}
</div>
</body>
</html>
