<html lang="en-us">
<head>
<title>message</title>
<meta http-equiv="content-type" contentx="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
</head>
<body class="change-form">
{% include "jforms/toolbar.html" %}
<div>
新建成功，编号{{index}} <a href=/viewrequirement/{{index}}/>查看</a> <a href=/editrequirement/{{index}}/>修改</a>
</div>
</body>
</html>
