<html lang="en-us">
<head>
<title>软件需求表与评估表(新建需求)</title>
{% include "jforms/head.html" %}
{% include "jforms/mce_init.html" %}

<link type="text/css" href="/static/jquery/css/ui-lightness/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/static/jquery/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/jquery/js/jquery-ui-1.8.21.custom.min.js"></script>
<style type="text/css">
    ul {margin: 0; padding: 0; width=300px;}
    ul li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
</style>


<script type="text/javascript">
$(document).ready(function(){
  $("#id_executer").click(function(){
   $("div#jj_executer").slideToggle();
    })

  $("#id_cc").click(function(){
   $("div#jj_cc").slideToggle();
    })
});
</script>

</head>
<body class="change-form">
{% include "jforms/toolbar.html" %}
<fieldset class="module aligned">
<h1>软件需求与规格</h1>
<form method="post" action="">
<div class="form-row">
{{requirement.require_name.label_tag}}{{requirement.require_name}} {{requirement.project}} {{requirement.software_type}} {{requirement.hardware}}
{{requirement.errors.require_name}}
{{requirement.errors.project}}
{{requirement.errors.software_type}}
{{requirement.errors.hardware}}
</div>
<div class="form-row">
{{requirement.describle.label_tag}}{{requirement.describle}}
{{requirement.errors.describle}}
</div>
<div class="form-row">
{{requirement.details.label_tag}}{{requirement.details}}
</div>
<div class="form-row">
<label></label>{{requirement.only_predev}}{{requirement.only_predev.label}}  {{requirement.need_test}}{{requirement.need_test.label}}
</div>
<div class="form-row">
{{requirement.expired_date.label_tag}}{{requirement.expired_date}}
{{requirement.errors.expired_date}}
</div>

<div class="form-row">
{{requirement.executer.label_tag}}
 <a href=#jj_executer" id="id_executer">选择</a> <p>
 <div id="jj_executer">
    <label></label>
    <table>
        {% for g in groups%}
        {%if g.name == "软件部"%}
        <tr>
            <td>{{g.name}}:</td>
            <td>
            {%for u in g.user_set.all%}
            <input type="checkbox" name="executer" value="{{u.id}}" /> {{u.first_name}} 
            {%endfor%}
            </td>
        </tr>
        {%endif%}
        {%endfor%}
    </table>
 </div>
</div>

<div class="form-row">
{{requirement.cc.label_tag}} <a href=#jj_cc" id="id_cc">选择</a> <p>
<div id="jj_cc">
    <label></label>
    <table>
        {% for g in groups%}
        <tr>
            <td>{{g.name}}:</td>
            <td>
            {%for u in g.user_set.all%}
            <input type="checkbox" name="cc" value="{{u.id}}" /> {{u.first_name}} 
            {%endfor%}
            </td>
        </tr>
        {%endfor%}
    </table>

</div>
</div>

<script>
 $("div#jj_cc").slideToggle();
 $("div#jj_executer").slideToggle();
</script>
<label></label> <input type="submit" value="提交" />
</form>
</fieldset>
</body>





