<html lang="en-us">
<head>
<meta http-equiv="content-type" contentx="text/html; charset=utf-8"/>
<title>测试评审,编号:{{index}}</title>
{% include "jforms/head.html" %}
{% include "jforms/mce_init.html" %}
<link type="text/css" href="/static/jquery/css/ui-lightness/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/static/jquery/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/jquery/js/jquery-ui-1.8.21.custom.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $("select#id_result").change(function(){
    var value=$(this).find("option:selected").attr("value");
    if (value != "success")
        $("#jj").hide(); 
    else
        $("#jj").show();
    });
  
  $("#id_judges").click(function(){
   $("div#jj_judges").slideToggle();
    })
});

</script>

</head>
<body class="change-form">
{% include "jforms/toolbar.html" %}
<h1>测试评审,需求表编号:{{index}}</h1>
<form enctype="multipart/form-data" method="POST" action="">
<fieldset class="module aligned">
<div class="form-row">
<label>需求表序列号：</label>
 {{index}} 
</div>

<div class="form-row">
<label></label>
<p>
测试申请:{{test.testapply}}</br>
测试报告:{{test.testreport}}
</p>
{{test.errors.testapply}}{{test.errors.testreport}}
</div>

<div class="form-row">
<label>{{test.overview.label_tag}}</label>
{{test.overview}}
{{test.errors.overview}}
</div>

<div class="form-row">
<label>{{test.judgement.label_tag}}</label>
{{test.judgement}}
{{test.errors.judgement}}
</div>

<div class="form-row">
<label></label>
{{test.result}}
</div>

<div id="jj">
<div class="form-row">
<label>{{test.date.label_tag}}</label>
{{test.date}}
</div>

<div class="form-row">
<label>{{test.explain.label_tag}}</label>
{{test.explain}}
</div>
<script>
var result= $("select#id_result").find("option:selected").attr("value");
if (result != "success"){$("#jj").hide();}
</script>

</div>

<div class="form-row">
<label>{{test.judges.label_tag}}</label>
            <a href=#jj_judges" id="id_judges">选择</a> <p>
             <div id="jj_judges">
                <label></label>
                <table>
                    {% for g in groups%}
                    <tr>
                        <td>{{g.name}}:</td>
                        <td>
                        {%for u in g.user_set.all%}
                             {%if u in tj.judges.all%}
                                    <input type="checkbox" checked="checked" name="judges" value="{{u.id}}" /> {{u.first_name}}
                             {%else%}
                                    <input type="checkbox" name="judges" value="{{u.id}}" /> {{u.first_name}}
                             {%endif%}
                        {%endfor%}
                        </td>
                    </tr>
                    {%endfor%}
                </table>
             </div>
    <script>
    $("div#jj_judges").slideToggle();
    </script>
</div>

<div class="form-row">
<label></label> <input type="submit" value="提交" />
<input type="checkbox" name="stat" value="prelocked" /><font color="red">进入下一流程</font>
</div>
</fieldset>
</body>
</html>
