<div class="dashboard">
<div id="header">
    <div id="branding">
        <h1>&nbsp; </h1>
    </div>
    <div id="user-tools">
            {%if username%}
            <strong>{{username}}</strong>
            <a href="/myhome/">主页</a> /
            <a href="/newrequirement/">新建需求</a> /
            <a href="/process/">查看需求</a> /
    <!--        <a href="/search/">模糊搜索</a>  -->
            <a href="/password_change/">修改密码</a> /
            <a href="/logout/">注销</a>
            {%else%}
                <strong>匿名用户</strong>
                <a href="/process/">查看需求</a> /
                <a href="/login/">登录</a> /
                <a href="/register/">注册</a> /
            {%endif%}
    </div>
</div>
</div>
